datasets==5.0.1
ipywidgets==8.1.8
kagglehub==1.0.2
matplotlib==3.11.1
numpy==2.5.1
opencv-python-headless==5.0.0.93
optuna==4.9.0
pandas==3.0.3
pillow==12.3.0
pydot==4.0.1
scikit-learn==1.9.0
scikit-image==0.26.0
seaborn==0.13.2
supervision==0.29.1
tensorflow==2.21.0
tensorflow-datasets==4.9.10
tensorflow-hub==0.16.1
transformers==5.14.1
trackers==2.5.0.post0
tqdm==4.70.0
ultralytics==8.4.109
split-folders==0.6.1
label-studio==1.23.0  # latest package may work but no guarantees.
streamlit==1.60.0  # latest package may work but no guarantees.