datasets==4.8.5
ipywidgets==8.1.8
kagglehub==1.0.1
matplotlib==3.11.0rc1
numpy==2.4.4
opencv-python==4.13.0.92
optuna==4.8.0
pandas==3.0.3
pillow==12.2.0
pydot==4.0.1
scikit-learn==1.8.0
seaborn==0.13.2
tensorflow==2.21.0
tensorflow-datasets==4.9.10
tensorflow-hub==0.16.1
tqdm==4.67.3
ultralytics==8.4.43
